/* About Page */
@media (max-width: 800px) {
  .about-img {
    height: 180px;
    width: 180px;
  }
}

/* Blog */
@media (max-width: 767px) {
  .video-grid, .image-grid {
    width: 100% !important;
  }
}