permissions:
  contents: write
on: push
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/marketplace/actions/checkout
      - uses: actions/checkout@v5
      # https://github.com/marketplace/actions/setup-node-js-environment
      - uses: actions/setup-node@v5
      - run: |
          npm i
          npm run rss
      # https://github.com/marketplace/actions/git-auto-commit
      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: Update RSS
